<%- include("partials/header") -%>

  <nav>
    <ul>
        <li><a class="active" href="/"><h3 class="gradient-text">Quiz'R US</h3></a></li>
            
      </ul>
      
  </nav>

<div class="container game-container">
    <div id="game" class="justify-center flex-column">
        <h3 id="question"><%- questionForQuiz %></h3>
          <% for (var i =0; i <=3;  i++ ) { %>
        <div class="choice-container">
          <% if(answerChoices[i] === correctAnswer){ %>
              <p class="choice-prefix"> <%-i+1%> </p>
              <p class="choice-text" id="correctAnswerChosen"><%- correctAnswer%></p>
            </div>
          <% }else{ %>
              <p class="choice-prefix"><%- i+1%></p>
              <p class="choice-text"><%- answerChoices[i]%></p>
              </div>
          <% } %>
         <% } %>
      </div>
</div>
<%- include('partials/footer') -%>
